In [10]:
years = list(range(1991, 2022))

In [11]:
years

[1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021]

In [4]:
url_start = "https://www.basketball-reference.com/awards/awards_{}.html"

In [7]:
import requests

url = url_start.format(2021)
data = requests.get(url)

with open("mvp/{}.html".format(year), "w+") as f:
    f.write(data.text)

NameError: name 'year' is not defined

In [35]:
from bs4 import BeautifulSoup
import pandas as pd
from io import StringIO

dfs = []

for year in years:
    with open(f"mvp/{year}.html") as f:
        page = f.read()

    soup = BeautifulSoup(page, "html.parser")

    # Ensure the header row exists before trying to remove it
    header_row = soup.find('tr', class_="over_header")
    if header_row:
        header_row.decompose()

    # Ensure table with id="mvp" exists
    mvp_table = soup.find(id="mvp")
    if mvp_table:
        mvp = pd.read_html(StringIO(str(mvp_table)))[0]
        dfs.append(mvp)
        mvp["Year"] = year
    else:
        print(f"Warning: No table found for year {year}")

In [36]:
mvps = pd.concat(dfs)

In [41]:
mvps.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,1,Michael Jordan,27,CHI,77,891,960,0.928,82,37.0,...,6.0,5.5,2.7,1.0,0.539,0.312,0.851,20.3,0.321,1991
1,2,Magic Johnson,31,LAL,10,497,960,0.518,79,37.1,...,7.0,12.5,1.3,0.2,0.477,0.320,0.906,15.4,0.251,1991
2,3,David Robinson,25,SAS,6,476,960,0.496,82,37.7,...,13.0,2.5,1.5,3.9,0.552,0.143,0.762,17.0,0.264,1991
3,4,Charles Barkley,27,PHI,2,222,960,0.231,67,37.3,...,10.1,4.2,1.6,0.5,0.570,0.284,0.722,13.4,0.258,1991
4,5,Karl Malone,27,UTA,0,142,960,0.148,82,40.3,...,11.8,3.3,1.1,1.0,0.527,0.286,0.770,15.5,0.225,1991

In [42]:
mvps.tail()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
10,11,Russell Westbrook,32,WAS,0,5,1010,0.005,65,36.4,...,11.5,11.7,1.4,0.4,0.439,0.315,0.656,3.7,0.075,2021
11,12,Ben Simmons,24,PHI,0,3,1010,0.003,58,32.4,...,7.2,6.9,1.6,0.6,0.557,0.300,0.613,6.0,0.153,2021
12,13T,James Harden,31,TOT,0,1,1010,0.001,44,36.6,...,7.9,10.8,1.2,0.8,0.466,0.362,0.861,7.0,0.208,2021
13,13T,LeBron James,36,LAL,0,1,1010,0.001,45,33.4,...,7.7,7.8,1.1,0.6,0.513,0.365,0.698,5.6,0.179,2021
14,13T,Kawhi Leonard,29,LAC,0,1,1010,0.001,52,34.1,...,6.5,5.2,1.6,0.4,0.512,0.398,0.885,8.8,0.238,2021

In [43]:
mvps.to_csv("mvps.csv")

In [59]:
df = []
for year in years:
    print(year)
    with open("player/nba_{}.html".format(year)) as f:
        page = f.read()
    
    soup = BeautifulSoup(page, "lxml")
    soup.find('tr', class_="thead").decompose()
    player_table = soup.find(id="per_game_stats")
    player = pd.read_html(StringIO(str(player_table)))[0]
    player["Year"] = year
    dfs.append(player)
    # # Ensure the header row exists before trying to remove it
    # header_row = soup.find('tr', class_="thead")
    # if header_row:
    #     header_row.decompose()
    
    # # Ensure table with id="mvp" exists
    # player_table = soup.find(id="per_game_stats")
    # if player_table:
    #     player = pd.read_html(StringIO(str(player_table)))[0]
    #     dfs.append(player)
    #     player["Year"] = year
    # else:
    #     print(f"Warning: No table found for year {year}")

1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021

In [60]:
players = pd.concat(dfs)

In [61]:
players

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,2PA,2P%,eFG%,FT,FTA,ORB,DRB,TOV,PF,Awards
0,1,Michael Jordan,27,CHI,77.0,891.0,960.0,0.928,82,37.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Magic Johnson,31,LAL,10.0,497.0,960.0,0.518,79,37.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,David Robinson,25,SAS,6.0,476.0,960.0,0.496,82,37.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Charles Barkley,27,PHI,2.0,222.0,960.0,0.231,67,37.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Karl Malone,27,UTA,0.0,142.0,960.0,0.148,82,40.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,NaN,Will Magnay,22,NaN,NaN,NaN,NaN,NaN,1,3.0,...,0.0,NaN,.000,0.0,0.0,0.0,0.0,1.0,1.0,NaN
724,NaN,Anžejs Pasečņiks,25,NaN,NaN,NaN,NaN,NaN,1,6.0,...,0.0,NaN,.000,0.0,0.0,1.0,0.0,5.0,2.0,NaN
725,NaN,Noah Vonleh,25,NaN,NaN,NaN,NaN,NaN,4,2.8,...,0.3,.000,.000,0.0,0.0,0.0,0.3,0.5,0.5,NaN
726,NaN,Greg Whittington,27,NaN,NaN,NaN,NaN,NaN,4,3.0,...,0.3,.000,.000,0.0,0.0,0.0,0.0,0.0,0.0,NaN
727,NaN,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,.530,.538,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
dfs = []   
for year in range(1991, 2022):
    print(f"\rProcessing year: {year}", end="", flush=True)    
    with open("player/nba_{}.html".format(year)) as f:
        page = f.read()
    
    soup = BeautifulSoup(page, "html.parser")
    soup.find('tr', class_="thead").decompose()
    player_table = soup.find(id="per_game_stats")
    player = pd.read_html(StringIO(str(player_table)))[0]
    player["Year"] = year
    dfs.append(player)

Processing year: 2021

In [78]:
players = pd.concat(dfs)

In [79]:
players

,Rk,Player,Age,Team,Pos,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Year
0,1,Michael Jordan,27,CHI,SG,82,82,37.0,12.1,22.4,...,4.6,6.0,5.5,2.7,1.0,2.5,2.8,31.5,"MVP-1,DPOY-7,AS,NBA1",1991
1,2,Karl Malone,27,UTA,PF,82,82,40.3,10.3,19.6,...,8.9,11.8,3.3,1.1,1.0,3.0,3.3,29.0,"MVP-5,AS,NBA1",1991
2,3,Bernard King,34,WSB,SF,64,64,37.5,11.1,23.6,...,3.2,5.0,4.6,0.9,0.3,4.0,2.9,28.4,"MVP-16,AS,NBA3",1991
3,4,Charles Barkley,27,PHI,SF,67,67,37.3,9.9,17.4,...,6.3,10.1,4.2,1.6,0.5,3.1,2.6,27.6,"MVP-4,AS,NBA1",1991
4,5,Patrick Ewing,28,NYK,C,81,81,38.3,10.4,20.3,...,8.8,11.2,3.0,1.0,3.2,3.6,3.5,26.6,"MVP-11,DPOY-7,AS,NBA2",1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,537,Will Magnay,22,NOP,C,1,0,3.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,NaN,2021
724,538,Anžejs Pasečņiks,25,WAS,C,1,0,6.0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,5.0,2.0,0.0,NaN,2021
725,539,Noah Vonleh,25,BRK,C,4,0,2.8,0.0,0.8,...,0.3,0.3,0.3,0.0,0.0,0.5,0.5,0.0,NaN,2021
726,540,Greg Whittington,27,DEN,PF,4,0,3.0,0.0,0.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2021
727,NaN,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021

In [80]:
players.head()

,Rk,Player,Age,Team,Pos,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Year
0,1,Michael Jordan,27,CHI,SG,82,82,37.0,12.1,22.4,...,4.6,6.0,5.5,2.7,1.0,2.5,2.8,31.5,"MVP-1,DPOY-7,AS,NBA1",1991
1,2,Karl Malone,27,UTA,PF,82,82,40.3,10.3,19.6,...,8.9,11.8,3.3,1.1,1.0,3.0,3.3,29.0,"MVP-5,AS,NBA1",1991
2,3,Bernard King,34,WSB,SF,64,64,37.5,11.1,23.6,...,3.2,5.0,4.6,0.9,0.3,4.0,2.9,28.4,"MVP-16,AS,NBA3",1991
3,4,Charles Barkley,27,PHI,SF,67,67,37.3,9.9,17.4,...,6.3,10.1,4.2,1.6,0.5,3.1,2.6,27.6,"MVP-4,AS,NBA1",1991
4,5,Patrick Ewing,28,NYK,C,81,81,38.3,10.4,20.3,...,8.8,11.2,3.0,1.0,3.2,3.6,3.5,26.6,"MVP-11,DPOY-7,AS,NBA2",1991

In [81]:
players.tail()

,Rk,Player,Age,Team,Pos,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Year
723,537,Will Magnay,22,NOP,C,1,0,3.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,NaN,2021
724,538,Anžejs Pasečņiks,25,WAS,C,1,0,6.0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,5.0,2.0,0.0,NaN,2021
725,539,Noah Vonleh,25,BRK,C,4,0,2.8,0.0,0.8,...,0.3,0.3,0.3,0.0,0.0,0.5,0.5,0.0,NaN,2021
726,540,Greg Whittington,27,DEN,PF,4,0,3.0,0.0,0.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2021
727,NaN,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021

In [82]:
players.to_csv("players.csv")

In [12]:
from bs4 import BeautifulSoup
import pandas as pd
from io import StringIO

dfs = [] # Replace with your actual years list

for year in years:
    print(f"\rProcessing year: {year}", end="", flush=True)    
    with open(f"team/{year}.html") as f:
        page = f.read()

    soup = BeautifulSoup(page, "html.parser")

    # Remove all <th> elements inside <tr class="thead">, if present
    thead = soup.find('tr', class_='thead')
    if thead:
        for th in thead.find_all("th"):
            th.decompose()
        thead.decompose()

    # Process Eastern Conference
    team_table = soup.find(id="divs_standings_E")
    if team_table:
        team = pd.read_html(StringIO(str(team_table)))[0]
        team["Year"] = year
        if "Eastern Conference" in team.columns:
            team["Team"] = team["Eastern Conference"]
            del team["Eastern Conference"]
        dfs.append(team)

    # Process Western Conference
    team_table = soup.find(id="divs_standings_W")
    if team_table:
        team = pd.read_html(StringIO(str(team_table)))[0]
        team["Year"] = year
        if "Western Conference" in team.columns:
            team["Team"] = team["Western Conference"]
            del team["Western Conference"]
        dfs.append(team)

# Final DataFrame with all processed years
final_df = pd.concat(dfs, ignore_index=True)

# Display the DataFrame
import ace_tools as tools
tools.display_dataframe_to_user(name="Extracted Team Data", dataframe=final_df)

Processing year: 2021

ModuleNotFoundError: No module named 'ace_tools'

In [13]:
teams = pd.concat(dfs)

In [14]:
teams

     W   L  W/L%    GB   PS/G   PA/G    SRS  Year                  Team
0   56  26  .683     —  111.5  105.7   5.22  1991       Boston Celtics*
1   44  38  .537  12.0  105.4  105.6  -0.39  1991   Philadelphia 76ers*
2   39  43  .476  17.0  103.1  103.3  -0.43  1991      New York Knicks*
3   30  52  .366  26.0  101.4  106.4  -4.84  1991    Washington Bullets
4   26  56  .317  30.0  102.9  107.5  -4.53  1991       New Jersey Nets
..  ..  ..   ...   ...    ...    ...    ...   ...                   ...
13  42  30  .583     —  112.4  110.2   2.26  2021     Dallas Mavericks*
14  38  34  .528   4.0  113.3  112.3   1.07  2021    Memphis Grizzlies*
15  33  39  .458   9.0  111.1  112.8  -1.58  2021     San Antonio Spurs
16  31  41  .431  11.0  114.6  114.9  -0.20  2021  New Orleans Pelicans
17  17  55  .236  25.0  108.8  116.7  -7.50  2021       Houston Rockets

[1033 rows x 9 columns]

In [15]:
teams.to_csv("teams.csv")

In [18]:
df = pd.read_csv("teams.csv")

In [20]:
import pandas as pd

# Load the CSV file
file_path = "teams.csv"  # Replace with the correct path if needed
df = pd.read_csv(file_path)

# List of division names to remove
divisions = ["Central Division", "Atlantic Division", "Midwest Division", "Pacific Division"]

# Filter out rows containing division names in the 'Team' column
df_cleaned = df[~df["Team"].isin(divisions)]

# Save the cleaned DataFrame back to a CSV file (optional)
df_cleaned.to_csv("cleaned_teams.csv", index=False)

# Display the cleaned DataFrame
print(df_cleaned.head())

   Unnamed: 0   W   L  W/L%    GB   PS/G   PA/G    SRS  Year  \
0           0  56  26  .683     —  111.5  105.7   5.22  1991
1           1  44  38  .537  12.0  105.4  105.6  -0.39  1991
2           2  39  43  .476  17.0  103.1  103.3  -0.43  1991
3           3  30  52  .366  26.0  101.4  106.4  -4.84  1991
4           4  26  56  .317  30.0  102.9  107.5  -4.53  1991

                  Team
0      Boston Celtics*
1  Philadelphia 76ers*
2     New York Knicks*
3   Washington Bullets
4      New Jersey Nets